<h1>New admin_language</h1>

<% semantic_form_for @language, :url => admin_languages_path do |form| %>
  <%= form.inputs %>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', admin_languages_path %>
