- if flash[:warning] or flash[:notice] 
  %div{:id="notice", :class => "warning" if flash[:warning]}
    = flash[:warning] || flash[:notice] 
  %script{:type=>"text/javascript"}
    = setTimeout("new Effect.Fade('notice');", 15000)
Error in Facebook
