- content_for :header_tag do
  %h1 Are you ready to Tango with Mango?
  %h2 Please fill out your dance card.
 
.content
  .mango_tango
    - semantic_form_for @tango, :url => mango_tango_path(@tango) do |form|
      = render :partial => '/mango_tangos/dance_card', :locals => {:form => form}
  = image_tag 'tango.png', :id => "tango"

