- content_for :header_tag do
  %h3 You have given the Gift of Mango, Now share with the world!

#wrap 
  #main.png_img
    .content    
      = render :partial => '/shared/message', :locals => {:url => '/gift_of_mango'}

    

