- content_for :header_tag do
  %h1 You have given the Gift of Mango
  %h2 Now share with the world!

.content 
  #post_message_box
    %h3 You gave the Gift of Mango, now share with the world!
    = render :partial => '/shared/message', :locals => {:url => @post.create_url, :email => @email, :source => "gift_of_mango"}

    

