
<div class="dialog">
  <div class="content">
    <h2>Would you like to announce to your Facebook and Twitter friends that you completed lesson 2 of French?</h2>
    <div class='twitter'>
      <input id="send_a_tweet" type="checkbox"> <label for="send_a_tweet">Post on Twitter!</label>
    </div>
    <div class='facebook'>
      <input id="post_on_facebook" type="checkbox"> <label for="post_on_facebook">Post on Facebook!</label>
    </div>
    <div class='buttons'>
      <a href='#'>Post messages</a>
      <a href='#'>No, thanks</a>
    </div>
    <div class="preferences">
      <div class='never_again'>
        <input id="never_again" type="checkbox"> <label for="never_again">Remember my preference and don't show me this message again.</label>
      </div>          
    </div>
    <div class="badge">
      <div style="margin-top: 70px;">
        Badge
      </div>
    </div>
  </div>
</div>


