.left{
  padding-left: 20px;
  float:left;
}
form.formtastic {
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  legend {
    padding: 0;
  }
  li {
    margin: 1em 0;
    fieldset {
      li {
        float: left;
        margin: 0;
        label {
          display: inline;
          font-size: .75em;
        }
      }
    }
  }
  ol,ul{
    list-style: none;
    padding: 0;
  }
  .errors, .inline-hints {
    font-size: .75em;
    margin: .5em 0;
  }
  .errors {
    color: red;
    list-style-type: disc;
    padding-left: 2em;
    li {
      display: list-item;
      margin: 0;
    }
  }
  .inline-hints {
    color: #999;
  }
  abbr[title="required"]{
    border: none;
    outline: none;
  }
  div{
    margin: 0;
  }
  fieldset{
    border: none;
    margin: 0;
    padding: 0;
  }
  label{
    display: block;
    .errors{
      font-size: 1em;
    }
  }
  legend{
    padding: 0 0 5px;
  }
  textarea{
    height: 55px;
    width: 500px;
  }
  li{
    margin: 1em 0;
    fieldset{
      li{
        float: left;
        line-height: normal;
        margin: 0;
        label{
          display: inline;
          font-size: .75em;
        }
        li{
          border-left: 1px solid #CCC;
          margin-left: .5em;
          padding-left: .5em;
        }
      }
      ol,ul{
        margin: .25em 0;
      }
    }
  }
  ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .boolean{
    input[type="checkbox"]{
      display: block;
      height: 1em;
      margin: 0;
      left: 0;
      padding: 0;
      position: absolute;
      top: 1px;
      vertical-align: bottom;
      width: 1em;
    }
    label{
      line-height: normal;
      padding: 0;
      position: relative;
      padding-left: 1.5em;
      vertical-align: top;
    }
  }
  .errors, .inline-hints{
    font-size: .75em;
    line-height: normal;
    margin: .5em 0;
  }
  .errors{
    color: red;
    list-style-type: disc;
    line-height: normal;
    padding-left: 2em;
    li{
      display: list-item;
      margin: 0;
    }
  }
  .inline-hints{
    color: #999;
  }
}


