.left {
  padding-left: 20px;
  float: left; }

form.formtastic fieldset {
  border: none;
  margin: 0;
  padding: 0; }
form.formtastic legend {
  padding: 0; }
form.formtastic li {
  margin: 1em 0; }
  form.formtastic li fieldset li {
    float: left;
    margin: 0; }
    form.formtastic li fieldset li label {
      display: inline;
      font-size: .75em; }
form.formtastic ol, form.formtastic ul {
  list-style: none;
  padding: 0; }
form.formtastic .errors, form.formtastic .inline-hints {
  font-size: .75em;
  margin: .5em 0; }
form.formtastic .errors {
  color: red;
  list-style-type: disc;
  padding-left: 2em; }
  form.formtastic .errors li {
    display: list-item;
    margin: 0; }
form.formtastic .inline-hints {
  color: #999; }
form.formtastic abbr[title="required"] {
  border: none;
  outline: none; }
form.formtastic div {
  margin: 0; }
form.formtastic fieldset {
  border: none;
  margin: 0;
  padding: 0; }
form.formtastic label {
  display: block; }
  form.formtastic label .errors {
    font-size: 1em; }
form.formtastic legend {
  padding: 0 0 5px; }
form.formtastic textarea {
  height: 55px;
  width: 500px; }
form.formtastic li {
  margin: 1em 0; }
  form.formtastic li fieldset li {
    float: left;
    line-height: normal;
    margin: 0; }
    form.formtastic li fieldset li label {
      display: inline;
      font-size: .75em; }
    form.formtastic li fieldset li li {
      border-left: 1px solid #CCC;
      margin-left: .5em;
      padding-left: .5em; }
  form.formtastic li fieldset ol, form.formtastic li fieldset ul {
    margin: .25em 0; }
form.formtastic ol, form.formtastic ul {
  list-style: none;
  margin: 0;
  padding: 0; }
form.formtastic .boolean input[type="checkbox"] {
  display: block;
  height: 1em;
  margin: 0;
  left: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  vertical-align: bottom;
  width: 1em; }
form.formtastic .boolean label {
  line-height: normal;
  padding: 0;
  position: relative;
  padding-left: 1.5em;
  vertical-align: top; }
form.formtastic .errors, form.formtastic .inline-hints {
  font-size: .75em;
  line-height: normal;
  margin: .5em 0; }
form.formtastic .errors {
  color: red;
  list-style-type: disc;
  line-height: normal;
  padding-left: 2em; }
  form.formtastic .errors li {
    display: list-item;
    margin: 0; }
form.formtastic .inline-hints {
  color: #999; }
