#main {
  #envelope {
    cursor: pointer;
  }
  

 }
#post_message_form {
  form.formtastic {
    #address_area{
      position: relative;
      top: 50px;
      right: -50px;
      width: 40%; 
    }
    .submit_button {
      position: relative;
      bottom: -55px;
      right: -200px; 
    }    
    #post_message{
      position: relative;
      top: 30px;
      right: -20px;
    }   
    #message_area {
      position: relative;
      top: 50px;
      width: 50%; 
    }


  }
}



