#post_message_form
  = semantic_form_for @post, :url => '/posts.json?test_mode=true' do |form|
    %input{:name=>"auth_token", :type=>"hidden", :value => 'abcdef'}
    .left
      #message_area
        = form.input :message, :as => :text, :label => "Message", :input_html => { :maxlength =>"130", :class => 'required', :placeholder => "Your message here...", }
      #address_area
        %label{:for => :uuid} UUID
        %input{:id => :UUID, :name=>"uuid", :placeholder=>"Your uuid here...", :size=>"60", :type=>"text"}
      .submit_button
        = form.commit_button :button_html => { :value => "Deliver" } 


