%script
  $(function(){
  $.colorbox({innerWidth:"799", innerHeight:"575", scrolling:false, inline:true, href:"#success_copy"});
  });

.hidden
  #success_copy
    %h3 Congratulations, you shared with the world!
