#wrap 
  #main.png_img
    .content
      - semantic_form_for @post, :url => 'twitter/auth' do |form|
        = form.input :message, :as => :text, :label => false, :input_html => { :value => "Try Mango..." }
        = form.commit_button :button_html => { :value => "Share" } 
      = image_tag 'facebook.png'
    
