<!DOCTYPE html>
<html>
<head>
  <title>Punchbowl</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <img alt="Powered by Mango" class="powered-by-mango png_img" src="/images/powered-by-mango.png?1285351421">
  </div

<%= yield %>

</body>
</html>
